<h1>Access Restricted</h1>
<p>
  The book you seek in the UC Press E-Books Collection, 1982-2004 is available only to University of California
  staff, faculty, and students. If you <em>are</em> a member of the UC community and are off campus, you must use
  the <a href="http://www.cdlib.org/inside/resources/services/offcampusaccess.html">proxy</a> server for your
  campus to access the title.
</p>
<p>
  If you are <em>not</em> affiliated with the University of California, please visit our
  <a href="<%= base_path %>browse_title.html?filter=public">public browse page</a>, which features over 500 scholarly
  monographs freely available to the public.
</p>
<p>Our apologies for the inconvenience.</p>
