<h1>About</h1>
<p>
  UC Press E-Books Collection, 1982-2004, is managed by the <a href="http://www.cdlib.org/services/publishing/">eScholarship Publishing program</a> at the <a href="https://cdlib.org">California Digital Library</a>. As one of the University of California libraries, the CDL supports the assembly and creative use of the world&rsquo;s scholarship and knowledge for the UC libraries and the communities they serve. The eScholarship Publishing program facilitates innovation and experimentation in the production and dissemination of scholarly works.
</p>
<p>
  Almost 2,000 electronic editions of academic books have been published online at the UC Press E-Books Collection, 1982-2004, web site. All E-Books in the collection are available for free to UC faculty, staff, and students. Additionally, more than 25 percent of the books are available for free to the public.
</p>
